<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['punto1']" routerLinkActive="router-link-active" >Mensajes</a>
  <button class="navbar-toggler btn btn-info" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link mr-2" [routerLink]="['datatable']" routerLinkActive="router-link-active" >Asistencia a Cursos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link m-r2" [routerLink]="['pasaje']" routerLinkActive="router-link-active" >Venta de Pasajes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['punto4']" routerLinkActive="router-link-active" >Juegos!<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>